.Company_box {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0 20px;
  .Company__Inner_3 {
    width: 850px;
    margin: 0px auto 30px;
    padding: 20px 40px 20px;
    background-color: white;
  }
}

.Company__Tables_3 {
  .Company__Table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
  }
}

.Company__TableBody_3 {
  display: table-row-group;
  vertical-align: middle;
  tr {
    display: table-row;
    th {
      width: 200px;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid lightgray;
      font-size: 17px;
      text-align: center;
    }
    td {
      width: 600px;
      padding: 15px 15px;
      border: 1px solid lightgray;
      font-size: 17px;
      text-align: center;
    }
  }
}

.Company__Tables_4 {
  .Company__Table_4 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
  }
}

.Company__TableBody_4 {
  display: table-row-group;
  vertical-align: middle;
  tr {
    display: table-row;
    th {
      width: 25%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid lightgray;
      font-size: 14px;
      text-align: left;
    }
    td {
      width: 20%;
      padding: 15px 15px;
      border: 1px solid lightgray;
      font-size: 14px;
      text-align: right;
    }
  }
}

.Company__Tables_2 {
    .Company__Table_2 {
      width: 50%;
      border-collapse: collapse;
      border: 1px solid white;
    }
  }
  .Company__TableBody_2 {
    display: table-row-group;
    vertical-align: middle;
    tr {
      display: table-row;
      th {
        width: 30%;
        background-color: #eee;
        font-weight: 400;
        padding: 8px;
        border: 1px solid lightgray;
        font-size: 14px;
        text-align: left;
      }
      td {
        width: 10%;
        padding: 15px 15px;
        border: 1px solid lightgray;
        font-size: 14px;
        text-align: right;
      }
    }
  }
  